html {
  box-sizing: border-box;
  background-color: #152c27;
  background-image: url(./assets/SVGAnimado.svg);
  background-size: auto; /* La imagen cubrirá todo el área del elemento */
  background-position: center; /* La imagen se centrará en el elemento */
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  color: rgb(238, 243, 243);
  align-items: center;
  margin: 2% auto;
}

.alura {
  vertical-align: middle;
}

.imagen-b {
  object-fit: contain;
  width: 70%;
  height: 70%;
  margin-bottom: 1rem;
}

.main {
  flex-grow: 1;
}

.principal {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
}

.lateral {
  display: block;
  visibility: hidden;
  width: 10%;
  height: auto;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #141414;
  color: #d3d3d3;
  overflow-y: auto; /* Mostrar barra de scroll vertical si el contenido supera la altura */
  max-height: 27.5rem; /* Altura máxima para que solo quepan tres objetos sesiones */
  border-radius: 12px;
  border: solid 2px rgb(43, 43, 43);
}

.lateral::-webkit-scrollbar {
  width: 10px;
  /*background-color: #000000;*/
}

.lateral::-webkit-scrollbar-thumb {
  background-color: #018673;
  border-radius: 12px;
}

.lateral-titulo {
  font-size: 0.8rem;
  text-align: center;
  border: solid 2px rgb(43, 43, 43);
  border-radius: 12px 12px 0 0;
  padding: 1rem;
  background-color: #018673;
}

.article-uno {
  width: 50%;
  text-align: center;
}

.article-dos,
.article-tres {
  width: 30%;
  text-align: center;
}

.article-tres {
  display: none;
}

.label {
  color: #e2e2e0;
  font-size: 1rem;
  display: block;
  padding: 0.9%;
}

.parrafo,
.mensaje-info {
  text-align: center;
  color: #e2e2e0;
  padding: 2px;
}

.textarea-original,
.textarea-modificada {
  width: 100%;
  height: 20rem;
  resize: none;
  font-size: 20px;
  border-radius: 12px;
  padding: 10px;
}

.textarea-original::-webkit-scrollbar {
  width: 10px;
  /*background-color: #000000;*/
}

.textarea-original::-webkit-scrollbar-thumb {
  background-color: #018673;
  border-radius: 12px;
}

.textarea-modificada::-webkit-scrollbar {
  width: 10px;
  /*background-color: #000000;*/
}

.textarea-modificada::-webkit-scrollbar-thumb {
  background-color: #018673;
  border-radius: 12px;
}

.textarea-original {
  background-color: #141414;
  color: #e2e2e0;
}

.textarea-original::placeholder {
  color: #e2e2e0;
}

.textarea-modificada {
  background-color: #141414;
  color: #e2e2e0;
}

.boton {
  text-align: center;
  font-size: 1rem;
  width: 14rem;
  height: 6vh;
  background-color: #018673;
  color: rgb(238, 243, 243);
  border: 2px solid #1a2e35;
  font-size: 16px;
  border-radius: 10px;
  margin: 2px auto;
}

.copiar {
  display: block;
}

.boton:hover {
  background-color: #0c181d;
  border: 2px solid #018673;
}

.boton-historial {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #000000;
  border: 2px solid #018673;
  color: #d3d3d3;
  border-radius: 12px;
  font-size: 0.8rem;
  width: 80%;
  height: 6vh;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.sesion {
  overflow-wrap: break-word;
  font-size: 0.8rem;
  border: solid 2px rgb(43, 43, 43);
  text-align: center;
  padding: 0.7rem;
}

.sesion:hover {
  border: solid 2px rgb(33, 107, 85);
  background-color: #363434;
}

.eliminar {
  text-align: center;
  font-size: 1rem;
  width: 100%;
  height: 1.8rem;
  background-color: #1a1d1f;
  color: #ffffff;
  border: 2px solid #018673;
  margin-top: 0.5rem;
  border-radius: 12px;
}

.eliminar:hover {
  background-color: #0c181d;
  border: 2px solid #07d6b7;
}

.notificacion {
  width: 24%;
  height: 10%;
  font-size: smaller;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 4%;
  background-color: #171e20;
  color: rgb(238, 243, 243);
  padding: 14px 10px 10px 10px;
  border: 2px solid #018673;
  border-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.notificacion.show {
  opacity: 1;
}

.notificacion .cerrar {
  position: fixed;
  top: 1.8rem;
  right: 5%;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #1a1d1f;
  color: #ffffff;
  border: 2px solid #018673;
  border-radius: 25%;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
  text-align: center;
  cursor: pointer;
}

.notificacion .texto {
  padding-right: 2rem;
  margin-left: 2rem;
}

.notificacion .cerrar:hover {
  background-color: #ffffff;
  color: #000000;
}

.close-button {
  z-index: 1;
}

.notificacion progress {
  /* Le damos un ancho del 100% del contenedor */
  width: 100%;
  height: 10px;
  /* Le quitamos el borde por defecto */
  border: none;
  /* Le damos un color de fondo gris claro */
  background-color: #d3d3d3;
}

/* Seleccionamos la parte interna de la barra de progreso */
.notificacion progress::-webkit-progress-value {
  /* Le damos un color verde */
  background-color: #018673;
}

/* Seleccionamos la parte externa de la barra de progreso */
.notificacion progress::-webkit-progress-bar {
  /* Le damos un color gris oscuro */
  background-color: #1a2e35;
}

.palabras-e {
  margin-top: 1rem;
  color: #d3d3d3;
}

.footer {
  background-color: #000000;
  color: #ebebeb;
  margin: 0;
  border: none;
}

.autor {
  text-align: center;
  font-size: 1rem;
  margin: 1px;
}

.autor-d {
  font-size: 0.8rem;
  text-align: center;
  margin: 1px;
}

.github {
  height: 1rem;
}

.link {
  text-decoration: none;
}

.link:link {
  color: #018673;
}

.link:visited {
  color: #018673;
}

/*mediaq basadas para IPAD Air*/
@media (max-width: 950px) and (orientation: portrait) {
  .header {
    color: rgb(238, 243, 243);
    text-align: center;
    margin: 1rem auto;
  }

  .principal {
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
  }

  .article-uno {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
  }

  .lateral {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 13.7%;
    overflow-y: auto;
    margin-bottom: 1rem;
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    flex-wrap: nowrap; /* Evita que los elementos hijos se envuelvan */
    overflow-y: auto; /* Mostrar barra de scroll vertical si el contenido supera la altura */
    max-height: 27.5rem; /* Altura máxima para que solo quepan tres objetos sesiones */
  }

  .lateral-titulo {
    border-radius: 12px 0 0 12px;
    height: 5.8rem;
  }

  .h2-historial {
    margin-top: 1rem;
  }

  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }

  .sesion {
    display: inline-block;
  }

  .article-dos,
  .article-tres {
    width: 100%;
    text-align: center;
  }

  .article-tres {
    display: none;
  }

  .textarea-original,
  .textarea-modificada {
    width: 80%;
    height: 250px;
  }

  .boton {
    text-align: center;
    font-size: 1rem;
    width: 40%;
    height: 4vh;
  }

  .imagen-b {
    width: 40%;
  }

  .notificacion {
    position: fixed;
    top: 0.5rem;
    right: 14rem;
    text-align: center;
    width: 40%;
    height: 6%;
    font-size: 0.8rem;
  }

  .notificacion .cerrar {
    display: none;
  }
}

/*mediaq basadas para IPAD Mini*/
@media (max-width: 768px) and (orientation: portrait) {
  .lateral {
    height: 15.9%;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  .header {
    margin: 8% auto;
  }

  .label {
    font-size: smaller;
  }

  .article-uno {
    order: 1;
    width: 100%;
    margin-bottom: 2rem;
  }

  .article-dos,
  .article-tres {
    width: 100%;
    margin-bottom: 1rem;
  }

  .article-dos{
    order: 2;
  }

  .article-tres{
    order: 3;
  }

  .lateral{
    order: 4;
    height: 18%;
  }

  .textarea-original,
  .textarea-modificada {
    width: 90%;
    height: 120px;
    font-size: small;
  }

  .textarea-original,
  .textarea-modificada::placeholder {
    font-size: small;
  }

  .boton {
    text-align: center;
    font-size: 0.8rem;
    width: 30%;
    height: 4vh;
  }

  .mensaje-info {
    font-size: 1rem;
  }

  .parrafo {
    font-size: 0.8rem;
  }

  .imagen-b {
    width: 40%;
  }

  .notificacion {
    position: fixed;
    top: 0rem;
    right: 0rem;
    text-align: center;
    width: 40%;
    height: 7%;
    font-size: 0.6rem;
  }

  .notificacion .cerrar {
    display: none;
  }

  .notificacion progress {
    display: none;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .header {
    margin: 1% 0 3% 6%;
  }

  .article-uno {
    width: 50%;
    text-align: center;
  }

  .article-dos,
  .article-tres {
    width: 50%;
    text-align: center;
  }

  .textarea-original,
  .textarea-modificada {
    height: 100px;
    font-size: 0.8rem;
  }

  .textarea-original,
  .textarea-modificada::placeholder {
    font-size: 0.8rem;
  }

  .mensaje-info {
    font-size: 0.8rem;
  }

  .parrafo {
    font-size: 0.7rem;
  }

  .label {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }

  .imagen-b {
    width: 50%;
    height: 50%;
  }

  .boton {
    text-align: center;
    font-size: 0.8rem;
    width: 40%;
    height: 8vh;
  }

  .notificacion progress {
    display: none;
  }

  .notificacion {
    position: fixed;
    top: 0rem;
    right: 0rem;
    text-align: center;
    width: 40%;
    height: 10%;
    font-size: 0.8rem;
  }

  .notificacion .cerrar {
    display: none;
  }
}
