*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.body {
    background-image: url("./assets/fondo.svg");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr 6%;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-areas:
        "header header"
        "contenedor contenedor"
        "footer footer";
    color: white;
}

.header {
    grid-area: header;
    text-align: center;
    margin: auto;
    width: 100%;

}

.header img {
    vertical-align: middle;
}

.contenedor_principal {
    grid-area: contenedor;
    height: 70vh;
    width: 80%;
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.contenedor_principal .seccion_uno {
    grid-column: 1/2;
}

.contenedor_principal .seccion_dos {
    grid-column: 2/3;
}

.contenedor_principal .seccion_tres {
    grid-column: 2/3;
}

.seccion_dos {
    text-align: center;
    font-size: 1rem;
}

.seccion_dos img {
    object-fit: contain;
    width: 62%;
    height: 62%;
    margin-bottom: 1.6rem;
}

.seccion_tres {
    display: none;
}

.textarea {
    background-color: #111111;
    color: #e5edf3;
    width: 100%;
    height: 16rem;
    resize: none;
    border: 3px solid #19659b;
    border-radius: 4px;
    padding: 1rem;
    cursor: auto;
    scrollbar-color: #19659b #1a1a1a ;
}

.textarea::placeholder {
    color: #e5edf3;
}

.textarea:focus {
    border: 3px solid #19659b;
    outline: none;
}

.contenedor_botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.3rem;
    height: 4rem;
    margin-top: 0.5rem;
}

.boton {
    height: 2.5rem;
    background-color: #19659b;
    color: white;
    border: 2px solid #19659b;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.boton img {
    vertical-align: middle;
    color: #e5edf3;
}

.boton_copiar {
    display: block;
    background-color: #19659b;
    color: white;
    border: 2px solid #19659b;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.5rem;
    height: 2.5rem;
}

.boton:hover {
    background-color: #1a1a1a;
    border: 2px solid #19659b;
}

.boton_copiar:hover {
    background-color: #1a1a1a;
    border: 2px solid #19659b;
}

.notificacion {
    position: fixed;
    text-align: center;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    width: 28%;
    height: auto;
    border: 2px solid var(--border);
    border-radius: 12px;
    background-color: #1a1a1a;
    color: white;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(100%); /*Efecto para deslizamiento*/
    opacity: 0;
}

.mensaje { /*Tamaño para mensaje de notificacion*/
    font-size: .9rem;
}

.show {
    /*La notificación se desplaza a su posición original*/
    transform: translateX(0);
    /*La notificación se hace visible*/
    opacity: 1;
}

.notificacion .cerrar {
    position: fixed;
    top: 0.5rem;
    right: 5%;
    width: 1.4rem;
    height: 1.4rem;
    background-color: var(--background-color);
    color: #ffffff;
    border: 2px solid var(--background-color);
    border-radius: 25%;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.cerrar:hover {
    background-color: #19659b;
}

.notificacion progress {
    /* Le damos un ancho del 100% del contenedor */
    width: 100%;
    height: 12px;
    /* Le quitamos el borde por defecto */
    border: none;
}

/* Seleccionamos la parte interna de la barra de progreso */
.notificacion progress::-webkit-progress-value {
    /* Le damos un color azul */
    background-color: #19659b;
}

/* Seleccionamos la parte externa de la barra de progreso */
.notificacion progress::-webkit-progress-bar {
    /* Le damos un color gris oscuro */
    background-color: #1e2a36;
}

.footer {
    grid-area: footer;
    background-color: #111111;
    color: white;
    margin: 0;
    border: none;
}

.footer p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1px;
}

.footer img {
    height: 1rem;
}

.footer a {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link:link {
    color: #19659b;
}

.link:visited {
    color: #19659b;
}

.autor {
    text-align: center;
    font-size: 1rem;
    margin: 1px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: baseline;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal.open {
    opacity: 1;
    pointer-events: auto;
}

.modal-dialog {
    display: grid;
    grid-auto-columns: 1fr; /* Esta es la línea que hay que añadir */
    max-width: 100%;
    max-height: 100%;
    gap: 1rem;
    overflow-y: auto;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    font-size: smaller;
}

.eliminar {
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
    color: #ffffff;
    background-color: #19659b;
    border: 4px solid #19659b;
    border-radius: 12px;
}

.eliminar:hover {
    background-color: #111111;
    border: 4px solid #168f7b;
}

.titulo-historial {
    grid-column: 1/4;
    margin: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #19659b;
    border-radius: 12px;
    padding: 0.5rem;
}

.titulo-historial p {
    font-size: 1rem;
    width: auto;
    padding: 0.5rem;
}


.sesion {
    text-align: center;
    border: 3px solid #19659b;
    border-radius: 12px;
    padding: 1rem;
    cursor: pointer;
}

.sesion h4{
    font-size: 0.8rem;
    font-weight: normal;
}

.p-sesion {
    font-size: 1.5rem;
    font-weight: bold;
    color: #19659b;
}

.s-fecha {
    color: #78e5ab;
}

.sesion:hover {
    background-color: #353535;
}

.close-modal {
    background-color: #1a1a1a;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    width: 40%;
    height: 2rem;
    cursor: pointer;
}

.close-modal:hover {
    border: 4px solid #168f7b;
    background-color: #1a1a1a;
    color: white;
}

/*Dando estilo a las barras de desplazamiento
.textarea::-webkit-scrollbar {
    width: 10px;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #19659b;
    border-radius: 12px;
}

.modal-dialog::-webkit-scrollbar {
    width: 10px;
}

.modal-dialog::-webkit-scrollbar-thumb {
    background-color: #19659b;
    border-radius: 12px;
}
*/

@media (min-width: 320px) and (max-width: 650px) {

    .contenedor_principal {
        display: block;
    }

    .textarea {
        height: 9rem;
    }

    .seccion_uno {
        width: 100%;
        height: 50%;
        margin: auto;
    }

    .seccion_dos {
        font-size: .8rem;
        margin: auto;
    }

    .seccion_dos img {
        object-fit: contain;
        width: 50%;
        height: 40%;
        margin: 1rem auto;
    }

    .boton {
        height: auto;
        font-size: .6rem;
    }

    .boton_copiar {
        height: 2rem;
        font-size: .6rem;
    }

    .textarea {
        font-size: .8rem;
    }

    .notificacion {
        position: fixed;
        text-align: center;
        top: 0;
        right: 0;
        margin: 0;
        padding: .5rem;
        width: 100%;
        height: auto;
        border: 2px solid var(--border);
        border-radius: 0px;
        background-color: #1a1a1a;
        color: white;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform: translateX(100%); /*Efecto para deslizamiento*/
        opacity: 0;
    }

    .mensaje { /*Tamaño para mensaje de notificacion*/
        font-size: .9rem;
    }

    .show {
        /*La notificación se desplaza a su posición original*/
        transform: translateX(0);
        /*La notificación se hace visible*/
        opacity: 1;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: baseline;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

    .modal.open {
        opacity: 1;
        pointer-events: auto;
    }

    .modal-dialog {
        display: grid;
        grid-auto-columns: 1fr; /* Esta es la línea que hay que añadir */
        max-width: 100%;
        max-height: 100%;
        gap: 1rem;
        overflow-y: auto;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 10px;
        font-size: smaller;
    }

    .eliminar {
        margin-top: 1rem;
        height: 2rem;
        width: 100%;
        color: #ffffff;
        background-color: #19659b;
        border: 4px solid #19659b;
        border-radius: 12px;
        font-size: .8rem;
    }

    .eliminar:hover {
        background-color: #111111;
        border: 4px solid #168f7b;
    }

    .titulo-historial {
        grid-column: 1/3;
        margin: 0;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
        background-color: #19659b;
        border-radius: 12px;
        padding: 0.5rem;
    }

    .titulo-historial p {
        font-size: .8rem;
        width: auto;
        padding: 0.5rem;
    }


    .sesion {
        text-align: center;
        border: 3px solid #19659b;
        border-radius: 12px;
        padding: 1rem;
        cursor: pointer;
    }

    .sesion h4{
        font-size: 0.8rem;
        font-weight: normal;
    }

    .p-sesion {
        font-size: .8rem;
        font-weight: bold;
        color: #19659b;
    }

    .s-fecha {
        color: #78e5ab;
    }

    .sesion:hover {
        background-color: #353535;
    }

    .close-modal {
        background-color: #1a1a1a;
        border: none;
        color: #ffffff;
        border-radius: 10px;
        width: 40%;
        height: 2rem;
        cursor: pointer;
        font-size: .6rem;
    }

    .close-modal:hover {
        border: 4px solid #168f7b;
        background-color: #1a1a1a;
        color: white;
    }

}